@model List<ToDoItem>
@*
    To Do List page
*@
@{
    ViewData["Title"] = "To Do";
}


<div class="text-center p-3 mb-2 bg-secondary-subtle text-secondary-emphasis">
    <h1 class="display-4">My ToDo List</h1>
       
    <p>
        Add some tasks below.
    </p>

        <form method="post" asp-action="AddTask">
            <input type="text" name="title" placeholder="Enter a task" />
            <button type="submit">Add Task</button>
        </form>
    
    <h3>Tasks:</h3>
        
        @if (Model == null || Model.Count == 0)
            {
                <p>No tasks yet.</p>
            }
                else
                {
                
                    <ul class ="list-group">
                            @foreach (var t in Model)
                            {
                                <li class="list-group-item list-group-item-dark d-flex align-items-start @(!t.IsComplete ? "justify-content-between" : "justify-content-center")">
                                    @if (t.IsComplete)
                                        {
                                            <span class="text-decoration-line-through fs-5">@t.Title</span>
                                            
                                        }
                                    else
                                        {
                                            <span class="text-primary fs-4">@t.Title</span>
                                        }

                                        @* Only show the Complete button if it's not complete yet *@
                                        
                                        @if (!t.IsComplete)
                                        {
                                            <div class="d-flex gap-3">
                                                <a asp-controller="ToDo" asp-action="EditTask" asp-route-id="@t.Id">Edit Task</a>
                                            
                                                <form method="post" asp-action="DeleteTask">
                                                <input type="hidden" name="id" value="@t.Id" />
                                                <button type="submit">Delete</button>
                                                </form>

                                                <form method="post" asp-action="CompleteTask">
                                                <input type="hidden" name="Id" value="@t.Id" />
                                                <button type="submit">Task Complete</button>
                                                </form>
                                            </div>
                                        }
                                </li>
                            }
                    </ul>
                }
                
</div>