@model List<ToDoItem>
@*
    To Do List page
*@
@{
    ViewData["Title"] = "To Do";
}


<div class="text-center">
    <h1 class="display-4">My ToDo List</h1>
       
    <p>
        Add some tasks below.
    </p>

        <form method="post" asp-action="AddTask">
            <input type="text" name="title" placeholder="Enter a task" />
            <button type="submit">Add Task</button>
        </form>
    
    <h3>Tasks:</h3>
        
        @if (Model == null || Model.Count == 0)
            {
                <p>No tasks yet.</p>
            }
                else
                {
                
                    <ul style="list-style-type:none; padding-left:0;">
                            @foreach (var t in Model)
                            {
                                <li>
                                    @if (t.IsComplete)
                                        {
                                            <span style="text-decoration: line-through;">@t.Title</span>
                                        }
                                    else
                                        {
                                            <span>@t.Title</span>
                                        }

                                        @* Only show the Complete button if it's not complete yet *@
                                        
                                        @if (!t.IsComplete)
                                        {
                                            <form method="post" asp-action="CompleteTask" style="display:inline;">
                                            <input type="hidden" name="Id" value="@t.Id" />
                                            <button type="submit">Task Complete</button>
                                            </form>

                                            <form method="post" asp-action="DeleteTask" style="display:inline;">
                                            <input type="hidden" name="id" value="@t.Id" />
                                            <button type="submit">Delete</button>
                                            </form>

                                            <a asp-controller="ToDo" asp-action="EditTask" asp-route-id="@t.Id">Edit Task</a>
                                        }
                                </li>
                            }
                    </ul>
                }
                
</div>